{% extends "base.html" %} {% block title %} changed {% endblock %}
{% block content %}
 <!--banner section start -->
 <div class="banner_section layout_padding">
    <div class="container-fluid">
       <section class="slide-wrapper">
          <div class="container-fluid">
             <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                   <li data-target="#myCarousel" data-slide-to="1"></li>
                   <li data-target="#myCarousel" data-slide-to="2"></li>
                   <li data-target="#myCarousel" data-slide-to="3"></li>
                   <li data-target="#myCarousel" data-slide-to="4"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                   <div class="carousel-item active">
                      <div class="container">
                         <div class="banner_main">
                            <h1 class="banner_taital">Business Agency Profit Your Marketing</h1>
                            <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content of a page when</p>
                            <div class="btn_main">
                               <div class="contact_bt active "><a href="#">Contact Us</a></div>
                               <div class="readmore_bt"><a href="#">Read More</a></div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="container">
                         <div class="banner_main">
                            <h1 class="banner_taital">Business Agency Profit Your Marketing</h1>
                            <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content of a page when</p>
                            <div class="btn_main">
                               <div class="contact_bt active "><a href="#">Contact Us</a></div>
                               <div class="readmore_bt"><a href="#">Read More</a></div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="container">
                         <div class="banner_main">
                            <h1 class="banner_taital">Business Agency Profit Your Marketing</h1>
                            <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content of a page when</p>
                            <div class="btn_main">
                               <div class="contact_bt active "><a href="#">Contact Us</a></div>
                               <div class="readmore_bt"><a href="#">Read More</a></div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="container">
                         <div class="banner_main">
                            <h1 class="banner_taital">Business Agency Profit Your Marketing</h1>
                            <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content of a page when</p>
                            <div class="btn_main">
                               <div class="contact_bt active "><a href="#">Contact Us</a></div>
                               <div class="readmore_bt"><a href="#">Read More</a></div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="container">
                         <div class="banner_main">
                            <h1 class="banner_taital">Business Agency Profit Your Marketing</h1>
                            <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content of a page when</p>
                            <div class="btn_main">
                               <div class="contact_bt active "><a href="#">Contact Us</a></div>
                               <div class="readmore_bt"><a href="#">Read More</a></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </div>
 <!--banner section end -->
 {% endblock %}