{% extends "base.html" %} {% block title %} Login {% endblock %}
{% block content %}
 <!-- contact section start -->
 <div class="contact_section layout_padding">
    <div class="container">
       <h1 class="contact_taital">Login</h1>
       <p class="contact_text">Welcome </p>
       {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
          {% for category, message in messages %}
              {% if category == "success" %}
              <p class="contact_text">{{ message}}</p>
              {% else %}
              <p class="contact_text" style="color: red;">{{ message}}</p>

              {% endif %}
          {% endfor %}
       {% endif %}
     {%  endwith %}
       <div class="contact_section_2 layout_padding">
        <form class="row" method="post">
            <div class="col-md-6">
               <div class="contact_main">
                  <input type="text" class="mail_text" placeholder="Email" name="Email">
                  <input type="password" class="mail_text" placeholder="password" name="password">
                  <input class="send_bt" type="submit" value="Login">
               </div>
            </div>
           
           
             <div class="col-md-6">
                <div class="map_main">
                   <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                   </div>
                </div>
             </div>
            </form>
          </div>
       </div>
    </div>
 </div>
 <!-- contact section end -->
 {% endblock %}